.box {
    padding: 16px; /* Equivalent to 2 units of Material-UI's default spacing */
    margin: 16px;
    color: white;
    border-radius: 4px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }

.redIcons {
    color:#D71921;

}

.greenText {
    color: whitesmoke;
    background-color:#00498F;
    padding: .5rem;
    margin: 1rem;
}

.mainText{
    color: whitesmoke;
    background-color: grey;
    font-size: 21px;
    padding: .2rem;
}
